<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - pirati.cz</title>

<link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <meta property="og:image"         content="https://tajemstvi.pirati.cz/static/share.png" />
    <meta property="og:url"           content="https://tajemstvi.pirati.cz/static/share.png" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Tajemství" />
    <meta property="og:description"   content="Poprvé v historii obsahuje volební lístek tajenku." />
  </head>
  <body>
    <section class="content">
      {% block content %}{% endblock %}
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
$(function() {
  $(".inputs").keyup(function () {
      if (this.value.length == this.maxLength) {
        $(this).next('.inputs').focus();
      }
    });
});
    </script>
  </body>
</html>
