{% extends 'base.html' %}

{% block title %}Tajemství{% endblock %}

<br>
<br>
{% block content %}
<h1>
<div>
    Těsně vedle. <br>
    Zkuste to znova
</div>
</h1>

<a href='/'>
<button type="button">Zkusit znova!</button>
</a> 

<br>
<br>
<br>

<div>
Koukněte na volební <a href='https://www.youtube.com/watch?v=wzEg55V6gig'> video </a>
 a náš <a href='https://evropapotrebuje.cz'> program </a> <br>
a přijďte tento víkend volit Piráty!"
</div>

<br>
  <img src="static/logo_napis_white.png" height="40" >
{% endblock %}
